.zxc {
    width: 50vw;
    height: 30vh;
    margin: 0px auto;
    margin-top: 300px;
    box-shadow: 0px 0px 4px black;
    padding: 60px;
}
label {
    margin-right: 10px;
    font-size: 24px;
}
small +small{
    display: none;
    
}
input:valid + small {
    display: none;
}
input:invalid + small + small {
    display: inline;    
}
small{
    margin-left: 295px;
}